@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  .bg-banner {
    background: linear-gradient(to right, rgb(0 0 0 / 80%), rgb(33 33 33 / 80%)),
      url("https://img.freepik.com/premium-psd/horizontal-website-banne_451189-110.jpg");
    background-size: cover;
    color: red;
  }
}
